footer.main-footer
        div.main-container
          div.main-footer__upper
            div.main-footer__row-1
              h2.heading-sm
                span Links
              div.main-footer__social-cont
                a(target='_blank' rel='noreferrer' href="https://www.linkedin.com/in/david-hernandez-lopez-a494a2178/")
                  img(class="main-footer__icon"
                    src="/images/linkedin-ico.png"
                    alt="icon")
                a(target="_blank" rel="noreferrer" href="https://github.com/davidhelo")
                  img(
                    class="main-footer__icon"
                    src="/images/github-ico.png"
                    alt="icon")
            div.main-footer__row-2
              h4.heading-sm David Hernandez
              p.main-footer__short-desc Backend Web Developer